/*==== structure =====================================================================================================*/
#Template { display: none; }
#Base { position: relative; margin: 0px auto; }
#Head { text-align: center; } #Head > div { display: inline-block; padding: 5px; }
#Main { min-height: 500px; }
#Tail { text-align: center; }
/*==== normal class =================================================================================================*/
.Block { display: inline-block; vertical-align: top; }
.ClickItem { cursor: pointer; } .ClickItem:hover { color: #ff0000; }
.TextTitle { display: inline-block; min-width: 70px; text-align: center; vertical-align: middle; }
img.Unload { border: 1px solid; background-color: #90c0ff; }
/*====================================================================================================================*/