<raw-html>
  <pre />
  <style>
    :host>pre { white-space: collapse; }
  </style>
  <script>
    export default {
      onMounted () {
        this.OnBrowser(() => {
          this.$('pre').innerHTML = this.props.html;
        });
      },

      onUpdated () {
        this.OnBrowser(() => {
          this.$('pre').innerHTML = this.props.html;
        });
      },
    };
  </script>
</raw-html>
