<page-about>
  <page-layout>
    <about/>
  </page-layout>
  <script>
    import pageLayout from '../component/page-layout.riot';
    import about from '../component/about.riot';

    export default {
      components: { pageLayout, about }
    }
  </script>
</page-about>
