<page-blog>
  <page-layout>
    <blog/>
  </page-layout>
  <script>
    import pageLayout from '../component/page-layout.riot';
    import blog from '../component/blog.riot';

    export default {
      components: { pageLayout, blog }
    }
  </script>
</page-blog>
