<page-messages>
  <page-layout>
    <messages/>
  </page-layout>
  <script>
    import pageLayout from '../component/page-layout.riot';
    import messages from '../component/messages.riot';

    export default {
      components: { pageLayout, messages }
    }
  </script>
</page-messages>
