<page-blogs>
  <page-layout>
    <blogs/>
  </page-layout>
  <script>
    import pageLayout from '../component/page-layout.riot';
    import blogs from '../component/blogs.riot';

    export default {
      components: { pageLayout, blogs }
    }
  </script>
</page-blogs>
