//==== structure ====

@media screen and ( min-device-width: 640px ) {
  #Base {
    max-width: 1000px;

    #Tail {
      text-align: center;
    }
  }
}

#Base {
  position: relative;
  margin: 0px auto;
}

//=====