//==== structure ====

@media screen and ( min-device-width: 640px ) {
  body>* {
    max-width: 1000px;
  }
}

body>*:not(script):not(style) {
  display: block;
  position: relative;
  margin: 0px auto;
}

//=====