@import 'SRC/base';

//==== SkyZone case ====================================================================================================

//==== color declare. ====

// 'Clr' = Color.
$Clr_Black: #202020;
$Clr_Grey:  #808080;
$Clr_White: #f0f0f0;
$Clr_Bdr:   #a0a0a0; // 'Bdr' = Border.
$Clr_Bg:    #f8f8f8; // 'Bg' = Background.
$Clr_Lnk_0: #005db2; // 'Lnk' = Link.
$Clr_Lnk_1: #ffc463;

// bbdfff
// 63b5ff
// b27d27

//==== normal element. ====

html
{ font-size: 16px; }

body
{
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: $Clr_Black;
  background-color: $Clr_Bg;
}

a, input, option, button, select
{ font-size: 1rem;  }

a
{
  text-decoration: none;
  color: $Clr_Lnk_0;

  &:hover
  {
    text-decoration: underline;
    color: $Clr_Lnk_1;
  }
}

div, span, pre , th, td, a
{
  border-width: 0;
  border-style: solid;
}

ul, ol
{ margin: 5px 0px 10px 0px; }

pre
{
  margin: 0;
  white-space: pre-wrap;
}

h1
{
  margin: 20px 0;
  font-size: 2rem;
  font-weight: inherit;
}

//==== structure extend. ====

#Base > *
{ padding: 10px 10px; }

//======================================================================================================================